<!doctype html>
<html>
<head>

<title>menu</title>

<style>
table {
border: 0px;
width: 100%;
}
th {
vertical-align: top;
font-family: arial;
color: white;
}
</style>

</head>
<body bgcolor="101010">

<table>

<th style="text-align: left;">
<svg width="30" height="30" href>
					
<line
x1="0"
y1="3"
x2="30"
y2="3"
style="stroke: #FFFFFF;
stroke-width: 3"
/>
<line
x1="0"
y1="11"
x2="30"
y2="11"
style="stroke: #FFFFFF;
stroke-width: 3"
/>
<line
x1="0"
y1="19"
x2="30"
y2="19"
style="stroke: #FFFFFF;
stroke-width: 3"
/>

</svg>
</th>

<th style="text-align: right;">Account</th>

</table>

</body>
</html>